<div class="container">
  <%= simple_form_for pet do |f| %>
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :address %>
    <%= f.input :species, collection: Pet::SPECIES, as: :radio_buttons %>
    <%= f.input :found_on, html5: true %>
    <%= f.submit %>
  <% end %>
</div>