<div class="container">
  <div class="card mb-3" style="width: 750px;">
    <%= image_tag "https://source.unsplash.com/featured/?pet&#{rand(1..100)}", class: "card-img-top" %>
    <div class="card-body">
      <h2 class="card-title"><%= @pet.name %></h2>
      <p class="card-title"><%= @pet.species %></p>
      <p class="card-title"><%= @pet.age %></p>
      <p class="card-title"><%= @pet.address %></p>
    </div>
  </div>
  <%= link_to  "Delete", pet_path(@pet), data: {turbo_method: :delete, turbo_confirm: "Delete #{@pet.name}?"}, class: "btn btn-danger" %>
</div>
